In [126]:
import pandas as pd
import matplotlib.pyplot as plt

In [303]:
filename = '202311-citibike-tripdata.csv'
df = pd.read_csv('data/'+filename)

display(df)

/var/folders/mk/h0jn844j1wx1kd56qstth2gw0000gn/T/ipykernel_25394/1435678121.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/'+filename)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887732,B06C26BA0C5E31F8,classic_bike,2023-11-28 09:57:05,2023-11-28 10:03:47,2 Ave & E 122 St,7622.12,2 Ave & E 104 St,7436.11,40.800672,-73.934900,40.789211,-73.943708,member
2887733,536BFFBCD957FCA7,classic_bike,2023-11-30 22:37:43,2023-11-30 22:41:42,5 Ave & 3 St,3987.06,10 St & 7 Ave,3762.08,40.672737,-73.983607,40.666208,-73.981999,member
2887734,BE9FCBED91CADF0B,classic_bike,2023-11-10 13:49:27,2023-11-10 13:53:53,W 47 St & 9 Ave,6786.02,Broadway & W 53 St,6779.05,40.761374,-73.990163,40.763441,-73.982681,member
2887735,CAC97E13CB8AA481,classic_bike,2023-11-20 14:16:31,2023-11-20 14:20:08,1 Ave & E 6 St,5626.15,Cooper Square & Astor Pl,5712.03,40.726226,-73.986142,40.729515,-73.990753,member
2887736,B51FC32482263D7E,classic_bike,2023-11-15 08:27:36,2023-11-15 08:32:22,Christopher St & Greenwich St,5847.01,Spring St & Hudson St,5653.12,40.732916,-74.007114,40.725840,-74.007653,member

In [304]:
# checking for null
print(df.isna().sum())

print('\n\ndataframe shape')
print(df.shape)

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     3033
start_station_id       3033
end_station_name      10701
end_station_id        10701
start_lat                 0
start_lng                 0
end_lat                1560
end_lng                1560
member_casual             0
dtype: int64


dataframe shape
(2887737, 13)

In [305]:
# dropping null values
df.dropna(axis = 0, inplace=True)

print(df.isna().sum())
print('\n\nUpdated Dataframe Shape after dropping columns')
print(df.shape)

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64


Updated Dataframe Shape after dropping columns
(2875911, 13)

In [306]:
# EDA
print('Dataframe Information')
print(df.info())

Dataframe Information
<class 'pandas.core.frame.DataFrame'>
Index: 2875911 entries, 0 to 2887736
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 307.2+ MB
None

In [307]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
5,A1717B24A900AD20,classic_bike,2023-11-05 22:53:05,2023-11-05 22:59:43,Nelson Ave & W 172 St,8290.01,3 Ave & E 174 St,8241.07,40.843870,-73.921083,40.842240,-73.898500,member

In [308]:
# Converting Datatypes
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])
df['ride_id'] = df['ride_id'].astype('str')
df['rideable_type'] = df['rideable_type'].astype('str')
df['start_station_name'] = df['start_station_name'].astype('str')
df['start_station_id'] = df['start_station_id'].astype('str')
df['end_station_name'] = df['end_station_name'].astype('str')
df['end_station_id'] = df['end_station_id'].astype('str')
df['member_casual'] = df['member_casual'].astype('str')

print('Dataframe Information after Datatype conversion')
print(df.info())

Dataframe Information after Datatype conversion
<class 'pandas.core.frame.DataFrame'>
Index: 2875911 entries, 0 to 2887736
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 307.2+ MB
None

In [309]:
temporal_interval = 'H'

sampled_data = df.groupby(pd.Grouper(key='started_at', freq=temporal_interval)).apply(lambda x: x.sample(n=1, random_state=42) if not x.empty else None)

# Filter out empty groups

sampled_data = sampled_data.dropna().reset_index(drop=True)

display(sampled_data)
print(sampled_data.info())

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,29B10005A40AD6C5,classic_bike,2023-11-01 00:17:54,2023-11-01 00:21:03,Montrose Ave & Bushwick Ave,5068.02,McKibbin St & Bogart St,5059.02,40.707670,-73.940174,40.706237,-73.933871,member
1,7AE2E94DD149102C,classic_bike,2023-11-01 01:14:20,2023-11-01 01:16:09,S 5 Pl & S 5 St,5125.03,S 5 Pl & S 5 St,5125.03,40.710377,-73.960803,40.710451,-73.960876,casual
2,486AF2768E6B974F,classic_bike,2023-11-01 02:49:58,2023-11-01 02:58:00,Lafayette St & E 8 St,5788.13,E 32 St & Park Ave,6280.12,40.730207,-73.991026,40.745712,-73.981948,casual
3,86E8AB4435402A8C,classic_bike,2023-11-01 03:54:54,2023-11-01 03:59:18,Carlton Ave & St Marks Ave,4199.13,3 Ave & Carroll St,4143.04,40.678956,-73.971891,40.677027,-73.986500,casual
4,0935227AD8B44927,classic_bike,2023-11-01 04:38:59,2023-11-01 05:04:16,30 Ave & 96 St,6772.11,43 St & 35 Ave,6520.06,40.760860,-73.873080,40.754139,-73.919543,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,FFE99003E955F72D,classic_bike,2023-11-30 19:09:13,2023-11-30 19:24:20,Throop Ave & Myrtle Ave,4697.01,Manhattan Ave & Leonard St,5442.09,40.696229,-73.943711,40.720840,-73.948440,casual
716,B91B9F7C1B76CF73,classic_bike,2023-11-30 20:01:41,2023-11-30 20:05:18,Marcy Ave & Lafayette Ave,4476.03,Monroe St & Tompkins Ave,4434.06,40.690081,-73.947915,40.686203,-73.944694,member
717,39C5C262E0B10505,classic_bike,2023-11-30 21:07:05,2023-11-30 21:16:30,E 11 St & Ave B,5659.11,Hudson St & W 13 St,6115.06,40.727624,-73.979503,40.740057,-74.005274,member
718,06C67B4BFF543FF6,classic_bike,2023-11-30 22:30:34,2023-11-30 22:37:41,Vesey Pl & River Terrace,5297.02,Greenwich St & W Houston St,5730.08,40.715305,-74.016175,40.728846,-74.008591,member
719,B8D600E4E2D4058C,classic_bike,2023-11-30 23:04:35,2023-11-30 23:22:57,Allen St & Rivington St,5414.06,E 9 St & Ave C,5616.01,40.720196,-73.989978,40.725213,-73.977688,casual

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             720 non-null    object
 1   rideable_type       720 non-null    object
 2   started_at          720 non-null    datetime64[ns]
 3   ended_at            720 non-null    datetime64[ns]
 4   start_station_name  720 non-null    object
 5   start_station_id    720 non-null    object
 6   end_station_name    720 non-null    object
 7   end_station_id      720 non-null    object
 8   start_lat           720 non-null    float64
 9   start_lng           720 non-null    float64
 10  end_lat             720 non-null    float64
 11  end_lng             720 non-null    float64
 12  member_casual       720 non-null    object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 73.2+ KB
None

In [310]:
print('Original Dataframe Counts')
value_counts = df['rideable_type'].value_counts()
# value_counts.plot(kind='bar', color='skyblue', edgecolor='black')
# plt.show()
print('Ratio Classic to Electric',value_counts['classic_bike']/value_counts['electric_bike'])



value_counts = df['member_casual'].value_counts()
# value_counts.plot(kind='bar', color='skyblue', edgecolor='black')
# plt.show()
print('Ratio Member to Casuals',value_counts['member']/value_counts['casual'])

Original Dataframe Counts
Ratio Classic to Electric 37.94365453363666
Ratio Member to Casuals 5.1783638859588255

In [311]:
print('Sampled Dataframe Counts')
value_counts = sampled_data['rideable_type'].value_counts()
# value_counts.plot(kind='bar', color='skyblue', edgecolor='black')
# plt.show()
print('Ratio Classic to Electric',value_counts['classic_bike']/value_counts['electric_bike'])

value_counts = sampled_data['member_casual'].value_counts()
# value_counts.plot(kind='bar', color='skyblue', edgecolor='black')
# plt.show()
print('Ratio Member to Casuals',value_counts['member']/value_counts['casual'])

Sampled Dataframe Counts
Ratio Classic to Electric 64.45454545454545
Ratio Member to Casuals 5.153846153846154

In [312]:
sampled_data.to_csv('data/sampled/'+filename)