In [28]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [4]:
pd.set_option('display.max_columns', None)

In [8]:
df = pd.read_csv('data/final_data/combined_time_features.csv', index_col=0)

In [13]:
ride_duration_counts = df['ride_duration'].value_counts()

# Compute intervals using pd.cut
intervals = pd.cut(df['ride_duration'], bins=4)

# Display the intervals
print(intervals.value_counts())

ride_duration
(-1.001, 255.198]     16600
(255.198, 510.375]       17
(510.375, 765.552]        6
(765.552, 1020.73]        3
Name: count, dtype: int64

In [18]:
# removing data duration > 255.198
df = df[df['ride_duration'] < 255.198]
# Compute intervals using pd.cut
intervals = pd.cut(df['ride_duration'], bins=30)

# Display the intervals
print(intervals.value_counts())

# plt.bar(intervals.value_counts()[)

ride_duration
(-0.198, 7.287]       6955
(7.287, 14.554]       5124
(14.554, 21.821]      2199
(21.821, 29.088]      1024
(29.088, 36.355]       558
(36.355, 43.622]       321
(43.622, 50.889]       143
(50.889, 58.156]        96
(58.156, 65.423]        47
(65.423, 72.69]         35
(72.69, 79.957]         25
(101.758, 109.025]      13
(94.491, 101.758]       12
(79.957, 87.224]         8
(116.292, 123.559]       6
(87.224, 94.491]         6
(109.025, 116.292]       5
(130.826, 138.093]       4
(123.559, 130.826]       3
(145.36, 152.627]        3
(159.894, 167.161]       3
(138.093, 145.36]        2
(167.161, 174.428]       2
(152.627, 159.894]       1
(174.428, 181.695]       1
(188.962, 196.229]       1
(196.229, 203.496]       1
(203.496, 210.763]       1
(210.763, 218.03]        1
(181.695, 188.962]       0
Name: count, dtype: int64

In [20]:
ride_duration_category_list = []
for duration in df['ride_duration']:
    if duration<=7.287:
        ride_duration_category_list.append('Short')
    elif duration>7.287 and duration<=14.554:
        ride_duration_category_list.append('Normal')
    elif duration>14.554 and duration<=21.821:
        ride_duration_category_list.append('Long')
    elif duration>21.821:
        ride_duration_category_list.append('Very Long')

df['ride_duration_category'] = ride_duration_category_list

In [22]:
final_df = df.drop(columns=['end_day_of_week', 'end_month', 'end_season'])

In [23]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16600 entries, 0 to 16773
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ride_id                 16600 non-null  object
 1   rideable_type           16600 non-null  object
 2   started_at              16600 non-null  object
 3   ended_at                16600 non-null  object
 4   start_station_name      16600 non-null  object
 5   start_station_id        16600 non-null  object
 6   end_station_name        16600 non-null  object
 7   end_station_id          16600 non-null  object
 8   start_lat               16600 non-null  float64
 9   start_lng               16600 non-null  float64
 10  end_lat                 16600 non-null  float64
 11  end_lng                 16600 non-null  float64
 12  member_casual           16600 non-null  object
 13  ride_duration           16600 non-null  float64
 14  start_zip               16402 non-null  float64
 15  price                   16503 non-null  float64
 16  end_zip                 16378 non-null  float64
 17  start_day_of_week       16600 non-null  object
 18  start_hour              16600 non-null  int64
 19  end_hour                16600 non-null  int64
 20  start_month             16600 non-null  int64
 21  start_season            16600 non-null  object
 22  ride_duration_category  16600 non-null  object
dtypes: float64(8), int64(3), object(12)
memory usage: 3.0+ MB

In [31]:
final_df.shape


vals = final_df['start_zip'].value_counts()

print(vals)

start_zip
10019.0    788
10009.0    745
10011.0    713
10003.0    670
10002.0    642
          ...
11418.0      1
10278.0      1
10154.0      1
10472.0      1
11212.0      1
Name: count, Length: 133, dtype: int64

In [33]:
final_df.to_csv('data/final_data/final_data.csv')

In [38]:
df2 = pd.read_csv('data/final_data/final_data.csv', index_col=0)

df2.isna().sum()

ride_id                   198
rideable_type             198
started_at                198
ended_at                  198
start_station_name        198
start_station_id          198
end_station_name          198
end_station_id            198
start_lat                 198
start_lng                 198
end_lat                   198
end_lng                   198
member_casual             198
ride_duration             198
start_zip                 198
price                     293
end_zip                   409
start_day_of_week         198
start_hour                198
end_hour                  198
start_month               198
start_season              198
ride_duration_category    198
dtype: int64

In [39]:
df_cleaned = df2.dropna()
df_cleaned.shape

(16097, 23)

In [41]:
df_cleaned.to_csv('final_data_cleaned.csv',index=False)